* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  display: flex;
  border: 2px solid black;
  height: 10vh;
  align-items: center;
}
.login {
	cursor: pointer;
}
.break {
  margin-right: 20px;
  cursor: pointer;
}
/*.options {
	position: relative;
	left: 70%;
	height: 30%;
}*/
.hero {
  height: 65vh;
  background-color: cornflowerblue;
}
.footer {
  height: 15vh;
  background-color: grey;
}
.login-overlay {
  display: flex;
  position: absolute;
  height: 90vh;
  width: 100%;
  align-items: center;
  border: 2px solid red;
  background-color: rgba(220, 220, 220, 0.6);
  /*	border: 1px solid red;
	height: 100vh;
	background-color: grey;
	opacity: 0.7;
	width: 100%;*/
}
.forms {
  /*z-index: 3;*/
}
.formsParent {
  position: relative;
  left: 40%;
  background-color: white;
  height: 200px;
  width: 400px;
}

.indMerc {
  display: flex;
  margin: 20px;
  border: 1px solid red;
  cursor: pointer;
}
/*Ratings styles */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > p {
  position: relative;
  width: 1em;
  font-size: 6vw;
  color: #ffd600;
  cursor: pointer;
}

.rating > p::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > p:hover:before,
.rating > p:hover ~ p:before {
  opacity: 1 !important;
}

.rating > p:checked ~ p:before {
  opacity: 1;
}

.rating:hover > p:checked ~ p:before {
  opacity: 0.4;
}

.indMerc:hover {
  background-color: lightgrey;
}

.userMainContainer {
  height: 70vh;
  overflow-y: scroll;
}

table,
th,
td {
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;
  height: 60px;
}

th,
td {
  width: 100px;
}

.edit {
  cursor: pointer;
  border-radius: 5px;
}

.edit:hover {
	background-color: lightgrey;
}
.mainDisplay {
	height: 80vh;
  overflow-y: scroll;
}